<html lang="en">
<body>
  <center>
    <br /><br />
    <img src="zoidberg.png" height=100px><br />
    You are running on host: {{ inventory_hostname }}<br />
    {{ default_banner }}<br /><br />
    {{ runtime }}
  </center>
</body>
</html>
